<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro e Listagem de Produtos:</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<body>
    <div class="container">

        <div class="header">
            <h1>Olá, {{ usuario }}!</h1>
            <div class="nav-links">
                <a class="botao1" href="{{ url_for('estoque')}}">Ver Estoque</a>
                <a class="botao2" href="{{ url_for('logout')}}">Sair</a>
            </div>

        </div>
        <div class="form-container">
            <h2>Cadastrar/Adicionar Produto</h2>
            <form action="{{url_for('cadastro_produto')}}" method="post">
                <label for="nome">Nome do Produto:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="descricao">Desrição:</label>
                <textarea id="descricao" name="descricao"></textarea>

                <label for="quantidade">Quantidade (entrada):</label>
                <input type="number" id="quantidade" name="quantidade" required>

                <label for="preco">Preço:</label>
                <input type="number" id="preco" name="preco" step="0.01" required>

                <label for="quantidade_minima">Quantidade Mínima para Alerta:</label>
                <input type="number" id="quantidade_minima" name="quantidade_minima" value="1" min="1" required>
                <button type="submit">Cadastrar Produto</button>
            </form>
        </div>
        <hr>

        <div class="list-container">
            <h2>Listar Produtos:</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Quantidade Mínima</th>
                        <th>Ações/Saída</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr
                        class="{% if produto.quantidade <= produto.quantidade_minima %} Alerta=estoque-baixo {% endif %}">
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td class="quantidade">{{ produto.quantidade }}</td>
                        <td>R$ {{ "%.2f"|format(produto.preco) }}</td>

                        <td>{{ produto.quantidade_minima }}</td>

                        <td>
                            <form action="{{url_for('saida_produto', produto_id=produto.id)}}" method="post">
                                <input type="number" name="quantidade_saida" value="1" min="1"
                                    max="{{ produto.quantidade }}" style="width: 30px;">
                                <button class="botao_saida" type="submit">Saída</button>
                            </form>
                            <form action="{{url_for('editar_produto', produto_id=produto.id)}}">
                                <button
                                    class="botao_editar" type="submit">Editar</button></form>

                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7">Nunhum Produto Cadastrado!</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</body>

</html>